
.Feedback{
  
  
  
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  flex-direction: column;
			  background-image: url("feed10.jpeg");
			  background-size: cover;
}

.feedback-container {
						font-family: 'Lexend Peta', sans-serif;  
						padding: 50px;  
						box-shadow: 0 25px 45px rgba(10, 10, 10, 0.8);
						border: 2px solid rgb(255, 255, 255, 0.25);
						border-right: 2px solid rgb(255, 255, 255, 0.1);
						border-bottom: 2px solid rgb(255, 255, 255, 0.1);
						border-radius: 20px;  
						backdrop-filter: blur(10px);
						width: 50%;
    
              
    
}

.feedback-container h1 {
						  font-family: 'Lexend Peta', sans-serif;
						  font-size: 44px;
						  font-weight: 800;
						  padding-bottom: 20px;
						  color:green;
						  margin-bottom: 10px;
						  text-align:Center;
						  font-weight: bold;
										
						}

fieldset {
			border: 2px solid black;
			border-radius: 5px;
			padding: 15px;
			margin-bottom: 20px;
		}
		

legend {
			font-weight: bold;
			color:darkblue;
		}


label {
			display: block;
			margin-bottom: 8px;
			font-weight: bold;
			color:black;
		}
		

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
			width: 95%;
			padding: 10px;
			margin-bottom: 15px;
			border: 2px solid black;
			border-radius: 4px;
			font-size: 16px;
			resize: vertical;
			
			
			
		}



.rating,
.recommendation {
					display: flex;
					align-items: center;
					margin-bottom: 15px;
					
				}

.recommendation span,
.rating span{
				margin-right: 10px;
				}
				

.rating input,
.sentemail input,
.recommendation input {
							margin-right: 10px;
							cursor:pointer;
						}
						



button[type="submit"] {
							
		background:#218838;						
		color:white;
		padding:10px;
		margin:10px 5px;
		border:none;
		border-radius:5px;
		cursor:pointer;
		display: inline-block;
		font-size:16px;
       
							
						}
						
button[type="submit"]:hover{ 
                              background:#0056b3;
							  color:black;
							}						

button[type="reset"] {
						background-color: #dc3545;	
						color:white;
						padding:10px;
						margin:10px 5px;
						border:none;
						border-radius:5px;
						cursor:pointer;
						display: inline-block;
						font-size:16px;
       	
						
					}

button[type="reset"]:hover {
				 opacity: 0.9;
				 background:lightblue;
				 color:black;
				
				
			}
			
		

