@font-face {
    font-family: 'Spartan';
    src: url('../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Spartan';
    background-color: #14131e;
    color: white;
    display: flex;
}

.container {
    display: flex;
    height: 1500px;
    width: 1500px;
}

.left-panel {
    background-color: #14131e;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.right-panel {
    background-color: #21588c;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 50px; 
    margin-top: 50px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile .name {
    font-size: 45px;
    background-color: #15143b;
    padding: 5px;
    margin-top: 10px; 
}

.student-details p {
    margin: 10px 0;
    font-size: 20px;
}

.logo {
    position: absolute;
    top: 40px;
    right: 20px;
    max-width: 450px;
    height: auto;
}

.content {
    padding-top: 50px;
}

.content p {
    margin: 10px 0;
    line-height: 1.5;
}

.link {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    background-color: #ff6347;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #000000;
}

.site-link {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    background-color: #ff6347;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.site-link:hover {
    background-color: #15143b;
}